In [2]:
# @title 014
price1 = 100
price2 = 200
tax = 1.1

def total():
    return price1 + price2

print (total() * tax)

330.0

In [3]:
# @title 015

class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def printinfo(self):
      print(self.name,self.age)

taro = Human("太郎", 20)
taro.printinfo()

太郎 20